*{
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url("https://occ-0-4857-2164.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABX_4O26Eie3ql0Ingt13QPqQ7yrVPA646TsZuHMh6xRFeG2_VpB4JoLrkMXgfGCR-59e6KKP7smBtNyXRLU9rFuj0_spdV_ocZta.jpg?r=5a6&quot");
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 540px;
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;
}
.posters::-webkit-scrollbar {
    display: none;
}
.poster{
    margin: 0% 1.5%;
    border-radius: 0.5%;

}
h1{
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: 600;
    padding: 1% 0% 0% 1%;
    font-size: 1.25rem;
}
h3{
    text-align: center;
    font-weight: 400; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1% 0%;

}